In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Utilities

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
def add_ts_feat(data, date_col):
  data['month'] = data[date_col].dt.month
  data['year'] = data[date_col].dt.year
  data['day'] = data[date_col].dt.day
  data['year_month'] = data.apply(lambda row: int(str(row.year) + str(row.month)), axis=1)
  return data

# Target - Forex Rate

In [4]:
target = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/DEXCAUS.csv')
target.head()

         DATE DEXCAUS
0  2009-01-02  1.2101
1  2009-01-05  1.1920
2  2009-01-06  1.1822
3  2009-01-07  1.1850
4  2009-01-08  1.1890

In [5]:
target.dtypes

DATE       object
DEXCAUS    object
dtype: object

In [6]:
target['DEXCAUS'] = pd.to_numeric(target['DEXCAUS'], errors='coerce')

In [7]:
target = target.astype({"DATE": 'datetime64'})

In [8]:
target.dtypes

DATE       datetime64[ns]
DEXCAUS           float64
dtype: object

In [9]:
target.shape

(3391, 2)

In [10]:
target.dropna(inplace=True)
target.shape

(3253, 2)

In [11]:
target.head()

        DATE  DEXCAUS
0 2009-01-02   1.2101
1 2009-01-05   1.1920
2 2009-01-06   1.1822
3 2009-01-07   1.1850
4 2009-01-08   1.1890

# Daily

## SP500

In [12]:
df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/S&P 500 Historical Data.csv')
df1.head()

           Date   Price    Open    High     Low Vol. Change %
0  Jan 02, 2009  931.80  902.99  934.73  899.35    -    3.16%
1  Jan 05, 2009  927.45  929.17  936.63  919.53    -   -0.47%
2  Jan 06, 2009  934.70  931.17  943.85  927.28    -    0.78%
3  Jan 07, 2009  906.65  927.45  927.45  902.37    -   -3.00%
4  Jan 08, 2009  909.73  905.73  910.00  896.81    -    0.34%

In [13]:
df1 = df1[['Date', 'Price']]
df1 = df1.rename(columns={'Price': 'SP500'})

In [14]:
df1.dtypes

Date     object
SP500    object
dtype: object

In [15]:
df1['Date'] = pd.to_datetime(df1['Date'])
df1['SP500'] = df1['SP500'].apply(lambda x: float(x.replace(',','')))
df1.shape

(3273, 2)

In [16]:
df1.dropna(inplace=True)
df1.shape

(3273, 2)

In [17]:
df1.head()

        Date   SP500
0 2009-01-02  931.80
1 2009-01-05  927.45
2 2009-01-06  934.70
3 2009-01-07  906.65
4 2009-01-08  909.73

## TSX

In [18]:
df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/TSX.csv')
df2.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-01-02,8951.900391,9235.200195,8918.099609,9234.099609,9234.099609,15068630000
1,2009-01-05,9233.000000,9372.900391,9116.000000,9285.500000,9285.500000,24253910000
2,2009-01-06,9409.799805,9505.700195,9285.500000,9472.099609,9472.099609,26395330000
3,2009-01-07,9362.900391,9472.099609,9100.200195,9121.299805,9121.299805,22208470000
4,2009-01-08,9075.500000,9224.099609,9016.700195,9221.599609,9221.599609,20407730000

In [19]:
df2 = df2[['Date', 'Adj Close']]
df2 = df2.rename(columns={'Adj Close': 'TSX'})

In [20]:
df2.dtypes

Date     object
TSX     float64
dtype: object

In [21]:
df2['Date'] = pd.to_datetime(df2['Date'])
df2['TSX'] = pd.to_numeric(df2['TSX'], errors='coerce')
df2.shape

(3262, 2)

In [22]:
df2.dropna(inplace=True)
df2.shape

(3262, 2)

In [23]:
df2.head()

        Date          TSX
0 2009-01-02  9234.099609
1 2009-01-05  9285.500000
2 2009-01-06  9472.099609
3 2009-01-07  9121.299805
4 2009-01-08  9221.599609

## Gold

In [24]:
df3 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Gold.csv')
df3.head()

         Date  USD (AM)  USD (PM)  GBP (AM)  GBP (PM)  EURO (AM)  EURO (PM)
0  2022-06-01   1829.70   1844.90   1453.51   1473.52    1706.56    1726.46
1  2022-05-31   1854.40   1838.70   1470.54   1461.95    1727.93    1718.82
2  2022-05-30   1857.25   1854.95   1469.27   1467.82    1725.39    1721.76
3  2022-05-27   1858.95   1851.80   1474.71   1465.14    1733.47    1724.21
4  2022-05-26   1845.15   1848.25   1468.19   1469.54    1726.51    1724.79

In [25]:
df3 = df3[['Date', 'USD (AM)']]
df3 = df3.rename(columns={'USD (AM)': 'Gold'})

In [26]:
df3.dtypes

Date     object
Gold    float64
dtype: object

In [27]:
df3['Date'] = pd.to_datetime(df3['Date'])
df3['Gold'] = pd.to_numeric(df3['Gold'], errors='coerce')
df3.shape

(13754, 2)

In [28]:
df3.dropna(inplace=True)
df3.shape

(13753, 2)

In [29]:
df3.head()

        Date     Gold
0 2022-06-01  1829.70
1 2022-05-31  1854.40
2 2022-05-30  1857.25
3 2022-05-27  1858.95
4 2022-05-26  1845.15

## ED

In [30]:
df4_1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Download Data - INTERESTRATE_MR_IBAL_LIBORUSD3M_2009.csv')
df4_2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Download Data - INTERESTRATE_MR_IBAL_LIBORUSD3M_2010.csv')
df4_3 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Download Data - INTERESTRATE_MR_IBAL_LIBORUSD3M_2011.csv')
df4_4 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Download Data - INTERESTRATE_MR_IBAL_LIBORUSD3M_2012.csv')
df4_5 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Download Data - INTERESTRATE_MR_IBAL_LIBORUSD3M_2013.csv')
df4_6 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Download Data - INTERESTRATE_MR_IBAL_LIBORUSD3M_2014.csv')
df4_7 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Download Data - INTERESTRATE_MR_IBAL_LIBORUSD3M_2015.csv')
df4_8 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Download Data - INTERESTRATE_MR_IBAL_LIBORUSD3M_2016.csv')
df4_9 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Download Data - INTERESTRATE_MR_IBAL_LIBORUSD3M_2017.csv')
df4_10 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Download Data - INTERESTRATE_MR_IBAL_LIBORUSD3M_2018.csv')
df4_11 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Download Data - INTERESTRATE_MR_IBAL_LIBORUSD3M_2019.csv')
df4_12 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Download Data - INTERESTRATE_MR_IBAL_LIBORUSD3M_2020.csv')
df4_13 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Download Data - INTERESTRATE_MR_IBAL_LIBORUSD3M_2021.csv')
df4_1.head()

         Date   Open   High    Low  Close
0  12/31/2009  0.25%  0.25%  0.25%  0.25%
1  12/30/2009  0.25%  0.25%  0.25%  0.25%
2  12/29/2009  0.25%  0.25%  0.25%  0.25%
3  12/28/2009  0.25%  0.25%  0.25%  0.25%
4  12/25/2009  0.25%  0.25%  0.25%  0.25%

In [31]:
df4 = pd.concat([df4_1, df4_2, df4_3, df4_4, df4_5, df4_6, df4_7, df4_8, df4_9, df4_10, df4_11, df4_12, df4_13])
df4.head()

         Date   Open   High    Low  Close
0  12/31/2009  0.25%  0.25%  0.25%  0.25%
1  12/30/2009  0.25%  0.25%  0.25%  0.25%
2  12/29/2009  0.25%  0.25%  0.25%  0.25%
3  12/28/2009  0.25%  0.25%  0.25%  0.25%
4  12/25/2009  0.25%  0.25%  0.25%  0.25%

In [32]:
df4.dtypes

Date     object
Open     object
High     object
Low      object
Close    object
dtype: object

In [33]:
df4 = df4[['Date', 'Close']]
df4 = df4.rename(columns={'Close': 'ED'})

In [34]:
df4['Date'] = pd.to_datetime(df4['Date'])
df4['ED'] = df4['ED'].apply(lambda x: float(x.replace('%','')))
df4.shape

(3364, 2)

In [35]:
df4.dtypes

Date    datetime64[ns]
ED             float64
dtype: object

In [36]:
df4.dropna(inplace=True)
df4.shape

(3364, 2)

In [37]:
df4.drop_duplicates(inplace=True)
df4.shape

(3364, 2)

In [38]:
df4.head()

        Date    ED
0 2009-12-31  0.25
1 2009-12-30  0.25
2 2009-12-29  0.25
3 2009-12-28  0.25
4 2009-12-25  0.25

# Merging - Daily

In [39]:
daily_df = pd.merge(pd.merge(pd.merge(pd.merge(target, df1, 'left', left_on='DATE', right_on='Date'), df2, 'left', left_on='DATE', right_on='Date'), df3, 'left', left_on='DATE', right_on='Date'), df4, 'left', left_on='DATE', right_on='Date')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Date_x'} in the result is deprecated and will raise a MergeError in a future version.
  """Entry point for launching an IPython kernel.

In [40]:
daily_df = daily_df[['DATE', 'DEXCAUS', 'SP500', 'TSX', 'Gold', 'ED']]

In [41]:
daily_df.head()

        DATE  DEXCAUS   SP500          TSX    Gold    ED
0 2009-01-02   1.2101  931.80  9234.099609  869.75  1.41
1 2009-01-05   1.1920  927.45  9285.500000  860.00  1.42
2 2009-01-06   1.1822  934.70  9472.099609  844.00  1.41
3 2009-01-07   1.1850  906.65  9121.299805  864.00  1.40
4 2009-01-08   1.1890  909.73  9221.599609  842.50  1.35

In [42]:
daily_df.isnull().sum()

DATE        0
DEXCAUS     0
SP500      16
TSX        67
Gold       70
ED         36
dtype: int64

In [43]:
daily_df['SP500'] = daily_df['SP500'].ffill(axis=0)
daily_df['TSX'] = daily_df['TSX'].ffill(axis=0)
daily_df['Gold'] = daily_df['Gold'].ffill(axis=0)
daily_df['ED'] = daily_df['ED'].ffill(axis=0)

In [44]:
daily_df.isnull().sum()

DATE       0
DEXCAUS    0
SP500      0
TSX        0
Gold       0
ED         0
dtype: int64

In [45]:
daily_df.head()

        DATE  DEXCAUS   SP500          TSX    Gold    ED
0 2009-01-02   1.2101  931.80  9234.099609  869.75  1.41
1 2009-01-05   1.1920  927.45  9285.500000  860.00  1.42
2 2009-01-06   1.1822  934.70  9472.099609  844.00  1.41
3 2009-01-07   1.1850  906.65  9121.299805  864.00  1.40
4 2009-01-08   1.1890  909.73  9221.599609  842.50  1.35

In [50]:
daily_df = add_ts_feat(daily_df, 'DATE')
daily_df.head()

,DATE,DEXCAUS,SP500,TSX,Gold,ED,month,year,day,year_month
0,2009-01-02,1.2101,931.80,9234.099609,869.75,1.41,1,2009,2,20091
1,2009-01-05,1.1920,927.45,9285.500000,860.00,1.42,1,2009,5,20091
2,2009-01-06,1.1822,934.70,9472.099609,844.00,1.41,1,2009,6,20091
3,2009-01-07,1.1850,906.65,9121.299805,864.00,1.40,1,2009,7,20091
4,2009-01-08,1.1890,909.73,9221.599609,842.50,1.35,1,2009,8,20091

# Monthly

## BCPI

In [51]:
df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/BCPI.csv')
df1.head()

         date    BCPI
0  01-04-2008  766.67
1  01-05-2008  829.62
2  01-06-2008  881.31
3  01-07-2008  860.70
4  01-08-2008  748.85

In [53]:
df1.dtypes

date     object
BCPI    float64
dtype: object

In [54]:
df1['date'] = pd.to_datetime(df1['date'], format='%d-%m-%Y')
df1['BCPI'] = pd.to_numeric(df1['BCPI'], errors='coerce')
df1.shape

(169, 2)

In [55]:
df1.dropna(inplace=True)
df1.shape

(169, 2)

In [56]:
df1.head()

        date    BCPI
0 2008-04-01  766.67
1 2008-05-01  829.62
2 2008-06-01  881.31
3 2008-07-01  860.70
4 2008-08-01  748.85

In [57]:
df1 = add_ts_feat(df1, 'date')
df1.head()

        date    BCPI  month  year  day  year_month
0 2008-04-01  766.67      4  2008    1       20084
1 2008-05-01  829.62      5  2008    1       20085
2 2008-06-01  881.31      6  2008    1       20086
3 2008-07-01  860.70      7  2008    1       20087
4 2008-08-01  748.85      8  2008    1       20088

## IR

In [58]:
df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/IR.csv')
df2.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY     TIME     Value  Flag Codes
0      CAN     STINT     TOT   PC_PA         M  2008-12  2.344286         NaN
1      CAN     STINT     TOT   PC_PA         M  2009-01  1.589048         NaN
2      CAN     STINT     TOT   PC_PA         M  2009-02  1.231053         NaN
3      CAN     STINT     TOT   PC_PA         M  2009-03  1.062727         NaN
4      CAN     STINT     TOT   PC_PA         M  2009-04  0.898095         NaN

In [59]:
df2 = df2[df2['LOCATION'] == 'CAN']
df2 = df2[['TIME', 'Value']]
df2 = df2.rename(columns={'Value': 'IR'})
df2.head()

      TIME        IR
0  2008-12  2.344286
1  2009-01  1.589048
2  2009-02  1.231053
3  2009-03  1.062727
4  2009-04  0.898095

In [60]:
df2.dtypes

TIME     object
IR      float64
dtype: object

In [61]:
df2['TIME'] = pd.to_datetime(df2['TIME'], format='%Y-%m')
df2['IR'] = pd.to_numeric(df2['IR'], errors='coerce')
df2.shape

(157, 2)

In [62]:
df2.dropna(inplace=True)
df2.shape

(157, 2)

In [63]:
df2.head()

        TIME        IR
0 2008-12-01  2.344286
1 2009-01-01  1.589048
2 2009-02-01  1.231053
3 2009-03-01  1.062727
4 2009-04-01  0.898095

In [64]:
df2 = add_ts_feat(df2, 'TIME')
df2.head()

        TIME        IR  month  year  day  year_month
0 2008-12-01  2.344286     12  2008    1      200812
1 2009-01-01  1.589048      1  2009    1       20091
2 2009-02-01  1.231053      2  2009    1       20092
3 2009-03-01  1.062727      3  2009    1       20093
4 2009-04-01  0.898095      4  2009    1       20094

## PPI

In [65]:
df3 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/PPI.csv')
df3.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUT,PPI,TOT_MKT,IDX2015,M,2009-01,94.37351,NaN
1,AUT,PPI,TOT_MKT,IDX2015,M,2009-02,94.27682,NaN
2,AUT,PPI,TOT_MKT,IDX2015,M,2009-03,94.18012,NaN
3,AUT,PPI,TOT_MKT,IDX2015,M,2009-04,93.30988,NaN
4,AUT,PPI,TOT_MKT,IDX2015,M,2009-05,93.69666,NaN

In [66]:
df3 = df3[df3['LOCATION'] == 'CAN']
df3 = df3[['TIME', 'Value']]
df3 = df3.rename(columns={'Value': 'PPI'})
df3.head()

        TIME       PPI
312  2009-01  89.51720
313  2009-02  89.94398
314  2009-03  90.26407
315  2009-04  89.94398
316  2009-05  88.87704

In [67]:
df3.dtypes

TIME     object
PPI     float64
dtype: object

In [68]:
df3['TIME'] = pd.to_datetime(df3['TIME'], format='%Y-%m')
df3['PPI'] = pd.to_numeric(df3['PPI'], errors='coerce')
df3.shape

(156, 2)

In [69]:
df3.dropna(inplace=True)
df3.shape

(156, 2)

In [70]:
df3 = add_ts_feat(df3, 'TIME')
df3.head()

          TIME       PPI  month  year  day  year_month
312 2009-01-01  89.51720      1  2009    1       20091
313 2009-02-01  89.94398      2  2009    1       20092
314 2009-03-01  90.26407      3  2009    1       20093
315 2009-04-01  89.94398      4  2009    1       20094
316 2009-05-01  88.87704      5  2009    1       20095

## M1

In [71]:
df4 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/M1.csv')
df4.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY     TIME     Value  Flag Codes
0      AUS        M1     TOT  IDX2015         M  2008-11  54.59565         NaN
1      AUS        M1     TOT  IDX2015         M  2008-12  56.54079         NaN
2      AUS        M1     TOT  IDX2015         M  2009-01  56.91373         NaN
3      AUS        M1     TOT  IDX2015         M  2009-02  57.48411         NaN
4      AUS        M1     TOT  IDX2015         M  2009-03  57.85705         NaN

In [72]:
df4 = df4[df4['LOCATION'] == 'CAN']
df4 = df4[['TIME', 'Value']]
df4 = df4.rename(columns={'Value': 'M1'})
df4.head()

        TIME        M1
161  2008-11  56.77979
162  2008-12  57.39726
163  2009-01  57.67868
164  2009-02  57.78524
165  2009-03  58.33285

In [73]:
df4.dtypes

TIME     object
M1      float64
dtype: object

In [74]:
df4['TIME'] = pd.to_datetime(df4['TIME'], format='%Y-%m')
df4['M1'] = pd.to_numeric(df4['M1'], errors='coerce')
df4.shape

(160, 2)

In [75]:
df4.dropna(inplace=True)
df4.shape

(160, 2)

In [76]:
df4 = add_ts_feat(df4, 'TIME')
df4.head()

          TIME        M1  month  year  day  year_month
161 2008-11-01  56.77979     11  2008    1      200811
162 2008-12-01  57.39726     12  2008    1      200812
163 2009-01-01  57.67868      1  2009    1       20091
164 2009-02-01  57.78524      2  2009    1       20092
165 2009-03-01  58.33285      3  2009    1       20093

## M3

In [77]:
df5 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/M3.csv')
df5.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY     TIME     Value  Flag Codes
0      AUS        M3     TOT  IDX2015         M  2008-11  62.54448         NaN
1      AUS        M3     TOT  IDX2015         M  2008-12  63.32334         NaN
2      AUS        M3     TOT  IDX2015         M  2009-01  63.75760         NaN
3      AUS        M3     TOT  IDX2015         M  2009-02  64.67935         NaN
4      AUS        M3     TOT  IDX2015         M  2009-03  64.62611         NaN

In [78]:
df5 = df5[df5['LOCATION'] == 'CAN']
df5 = df5[['TIME', 'Value']]
df5 = df5.rename(columns={'Value': 'M3'})
df5.head()

        TIME        M3
158  2008-11  66.81258
159  2008-12  66.87726
160  2009-01  66.68929
161  2009-02  66.24384
162  2009-03  66.31652

In [79]:
df5.dtypes

TIME     object
M3      float64
dtype: object

In [80]:
df5['TIME'] = pd.to_datetime(df5['TIME'], format='%Y-%m')
df5['M3'] = pd.to_numeric(df5['M3'], errors='coerce')
df5.shape

(158, 2)

In [81]:
df5.dropna(inplace=True)
df5.shape

(158, 2)

In [82]:
df5 = add_ts_feat(df5, 'TIME')
df5.head()

          TIME        M3  month  year  day  year_month
158 2008-11-01  66.81258     11  2008    1      200811
159 2008-12-01  66.87726     12  2008    1      200812
160 2009-01-01  66.68929      1  2009    1       20091
161 2009-02-01  66.24384      2  2009    1       20092
162 2009-03-01  66.31652      3  2009    1       20093

## Oil

In [83]:
df6 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Oil.csv')
df6.head()

         DATE  WTISPLC
0  2009-01-01    41.74
1  2009-02-01    39.16
2  2009-03-01    47.98
3  2009-04-01    49.79
4  2009-05-01    59.16

In [84]:
df6 = df6.rename(columns={'WTISPLC': 'Oil'})
df6.head()

         DATE    Oil
0  2009-01-01  41.74
1  2009-02-01  39.16
2  2009-03-01  47.98
3  2009-04-01  49.79
4  2009-05-01  59.16

In [85]:
df6.dtypes

DATE     object
Oil     float64
dtype: object

In [86]:
df6['DATE'] = pd.to_datetime(df6['DATE'])
df6['Oil'] = pd.to_numeric(df6['Oil'], errors='coerce')
df6.shape

(156, 2)

In [87]:
df6.dropna(inplace=True)
df6.shape

(156, 2)

In [88]:
df6 = add_ts_feat(df6, 'DATE')
df6.head()

        DATE    Oil  month  year  day  year_month
0 2009-01-01  41.74      1  2009    1       20091
1 2009-02-01  39.16      2  2009    1       20092
2 2009-03-01  47.98      3  2009    1       20093
3 2009-04-01  49.79      4  2009    1       20094
4 2009-05-01  59.16      5  2009    1       20095

## Unemployment

In [89]:
df7 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Unemployment.csv')
df7.head()

         DATE  LRUNTTTTCAM156S
0  2009-01-01              7.4
1  2009-02-01              8.0
2  2009-03-01              8.2
3  2009-04-01              8.3
4  2009-05-01              8.7

In [90]:
df7 = df7.rename(columns={'LRUNTTTTCAM156S': 'Unemployment'})
df7.head()

         DATE  Unemployment
0  2009-01-01           7.4
1  2009-02-01           8.0
2  2009-03-01           8.2
3  2009-04-01           8.3
4  2009-05-01           8.7

In [91]:
df7.dtypes

DATE             object
Unemployment    float64
dtype: object

In [92]:
df7['DATE'] = pd.to_datetime(df7['DATE'])
df7['Unemployment'] = pd.to_numeric(df7['Unemployment'], errors='coerce')
df7.shape

(156, 2)

In [93]:
df7.dropna(inplace=True)
df7.shape

(156, 2)

In [94]:
df7 = add_ts_feat(df7, 'DATE')
df7.head()

        DATE  Unemployment  month  year  day  year_month
0 2009-01-01           7.4      1  2009    1       20091
1 2009-02-01           8.0      2  2009    1       20092
2 2009-03-01           8.2      3  2009    1       20093
3 2009-04-01           8.3      4  2009    1       20094
4 2009-05-01           8.7      5  2009    1       20095

## Industrial Production

In [95]:
df8 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/IndProd.csv')
df8.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY     TIME     Value Flag Codes
0      AUT   INDPROD     MFG  IDX2015         M  2008-09  97.60672        NaN
1      AUT   INDPROD     MFG  IDX2015         M  2008-10  93.03790        NaN
2      AUT   INDPROD     MFG  IDX2015         M  2008-11  88.96748        NaN
3      AUT   INDPROD     MFG  IDX2015         M  2008-12  90.62888        NaN
4      AUT   INDPROD     MFG  IDX2015         M  2009-01  86.64154        NaN

In [96]:
df8 = df8[df8['LOCATION'] == 'CAN']
df8 = df8[['TIME', 'Value']]
df8 = df8.rename(columns={'Value': 'IndProd'})
df8.head()

        TIME    IndProd
320  2008-09  102.84230
321  2008-10  101.36380
322  2008-11   99.95560
323  2008-12   94.97190
324  2009-01   91.45509

In [97]:
df8.dtypes

TIME        object
IndProd    float64
dtype: object

In [98]:
df8['TIME'] = pd.to_datetime(df8['TIME'], format='%Y-%m')
df8['IndProd'] = pd.to_numeric(df8['IndProd'], errors='coerce')
df8.shape

(160, 2)

In [99]:
df8.dropna(inplace=True)
df8.shape

(160, 2)

In [100]:
df8 = add_ts_feat(df8, 'TIME')
df8.head()

          TIME    IndProd  month  year  day  year_month
320 2008-09-01  102.84230      9  2008    1       20089
321 2008-10-01  101.36380     10  2008    1      200810
322 2008-11-01   99.95560     11  2008    1      200811
323 2008-12-01   94.97190     12  2008    1      200812
324 2009-01-01   91.45509      1  2009    1       20091

# Merging - Monthly

In [101]:
year_month_df = pd.DataFrame(data = daily_df['year_month'].unique(), columns=['year_month'])
year_month_df.head()

   year_month
0       20091
1       20092
2       20093
3       20094
4       20095

In [102]:
monthly_df = pd.merge(
              pd.merge(
                pd.merge(
                  pd.merge(
                    pd.merge(
                      pd.merge(
                        pd.merge(
                          pd.merge(year_month_df, df1[['BCPI', 'year_month']], 'left', on='year_month'), 
                            df2[['IR', 'year_month']], 'left', on='year_month'), 
                            df3[['PPI', 'year_month']], 'left', on='year_month'),
                            df4[['M1', 'year_month']], 'left', on='year_month'),
                            df5[['M3', 'year_month']], 'left', on='year_month'),
                            df6[['Oil', 'year_month']], 'left', on='year_month'),
                            df7[['Unemployment', 'year_month']], 'left', on='year_month'),
                            df8[['IndProd', 'year_month']], 'left', on='year_month')

In [103]:
monthly_df.head()

,year_month,BCPI,IR,PPI,M1,M3,Oil,Unemployment,IndProd
0,20091,399.85,1.589048,89.51720,57.67868,66.68929,41.74,7.4,91.45509
1,20092,381.79,1.231053,89.94398,57.78524,66.24384,39.16,8.0,90.26203
2,20093,410.36,1.062727,90.26407,58.33285,66.31652,47.98,8.2,89.18526
3,20094,413.11,0.898095,89.94398,59.11719,66.52650,49.79,8.3,87.93669
4,20095,456.04,0.636500,88.87704,59.70138,66.37608,59.16,8.7,86.51580

In [104]:
daily_monthly_df = pd.merge(daily_df, monthly_df, 'left', on='year_month')

In [105]:
daily_monthly_df.isnull().sum()

DATE            0
DEXCAUS         0
SP500           0
TSX             0
Gold            0
ED              0
month           0
year            0
day             0
year_month      0
BCPI            0
IR              0
PPI             0
M1              0
M3              0
Oil             0
Unemployment    0
IndProd         0
dtype: int64

In [106]:
daily_monthly_df.head()

,DATE,DEXCAUS,SP500,TSX,Gold,ED,month,year,day,year_month,BCPI,IR,PPI,M1,M3,Oil,Unemployment,IndProd
0,2009-01-02,1.2101,931.80,9234.099609,869.75,1.41,1,2009,2,20091,399.85,1.589048,89.5172,57.67868,66.68929,41.74,7.4,91.45509
1,2009-01-05,1.1920,927.45,9285.500000,860.00,1.42,1,2009,5,20091,399.85,1.589048,89.5172,57.67868,66.68929,41.74,7.4,91.45509
2,2009-01-06,1.1822,934.70,9472.099609,844.00,1.41,1,2009,6,20091,399.85,1.589048,89.5172,57.67868,66.68929,41.74,7.4,91.45509
3,2009-01-07,1.1850,906.65,9121.299805,864.00,1.40,1,2009,7,20091,399.85,1.589048,89.5172,57.67868,66.68929,41.74,7.4,91.45509
4,2009-01-08,1.1890,909.73,9221.599609,842.50,1.35,1,2009,8,20091,399.85,1.589048,89.5172,57.67868,66.68929,41.74,7.4,91.45509

# Yearly

## CPI (PPP)

In [107]:
df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/PPP.csv')
df1.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME     Value  Flag Codes
0      AUS       PPP     TOT  NATUSD         A  2009  1.442545         NaN
1      AUS       PPP     TOT  NATUSD         A  2010  1.503317         NaN
2      AUS       PPP     TOT  NATUSD         A  2011  1.511052         NaN
3      AUS       PPP     TOT  NATUSD         A  2012  1.540115         NaN
4      AUS       PPP     TOT  NATUSD         A  2013  1.447123         NaN

In [108]:
df1 = df1[df1['LOCATION'] == 'CAN']
df1 = df1[['TIME', 'Value']]
df1 = df1.rename(columns={'Value': 'PPP'})
df1.head()

    TIME       PPP
39  2009  1.202244
40  2010  1.221820
41  2011  1.239904
42  2012  1.244607
43  2013  1.224000

In [109]:
df1['TIME'] = pd.to_datetime(df1['TIME'], format='%Y')
df1['PPP'] = pd.to_numeric(df1['PPP'], errors='coerce')
df1.shape

(13, 2)

In [110]:
df1.dropna(inplace=True)
df1.shape

(13, 2)

In [111]:
df1.head()

         TIME       PPP
39 2009-01-01  1.202244
40 2010-01-01  1.221820
41 2011-01-01  1.239904
42 2012-01-01  1.244607
43 2013-01-01  1.224000

In [112]:
df1 = add_ts_feat(df1, 'TIME')
df1.head()

         TIME       PPP  month  year  day  year_month
39 2009-01-01  1.202244      1  2009    1       20091
40 2010-01-01  1.221820      1  2010    1       20101
41 2011-01-01  1.239904      1  2011    1       20111
42 2012-01-01  1.244607      1  2012    1       20121
43 2013-01-01  1.224000      1  2013    1       20131

In [113]:
yearly_df = df1[['year', 'PPP']]

# Merging - Yearly

In [114]:
final_df = pd.merge(daily_monthly_df, yearly_df, 'left', on='year')

# Final Dataset

In [115]:
final_df.head()

,DATE,DEXCAUS,SP500,TSX,Gold,ED,month,year,day,year_month,BCPI,IR,PPI,M1,M3,Oil,Unemployment,IndProd,PPP
0,2009-01-02,1.2101,931.80,9234.099609,869.75,1.41,1,2009,2,20091,399.85,1.589048,89.5172,57.67868,66.68929,41.74,7.4,91.45509,1.202244
1,2009-01-05,1.1920,927.45,9285.500000,860.00,1.42,1,2009,5,20091,399.85,1.589048,89.5172,57.67868,66.68929,41.74,7.4,91.45509,1.202244
2,2009-01-06,1.1822,934.70,9472.099609,844.00,1.41,1,2009,6,20091,399.85,1.589048,89.5172,57.67868,66.68929,41.74,7.4,91.45509,1.202244
3,2009-01-07,1.1850,906.65,9121.299805,864.00,1.40,1,2009,7,20091,399.85,1.589048,89.5172,57.67868,66.68929,41.74,7.4,91.45509,1.202244
4,2009-01-08,1.1890,909.73,9221.599609,842.50,1.35,1,2009,8,20091,399.85,1.589048,89.5172,57.67868,66.68929,41.74,7.4,91.45509,1.202244

In [116]:
final_df.to_csv('/content/drive/MyDrive/Colab Notebooks/MRP/data/Final Dataset/final_data.csv', index=False)